# Imports

In [1]:
import plotly.graph_objects as go
from Climate import Country, Continent

C:\Users\mikol\anaconda3\envs\weather\lib\site-packages\statsmodels\compat\pandas.py:61: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import Int64Index as NumericIndex

# Data load

In [2]:
# example - to be extended
country = Country('Poland')
continent = Continent('EU')

# Data view

In [3]:
country.view()

            AverageTemperature  AverageTemperatureUncertainty  year  x
dt
1900-01-01              -3.182                          0.798  1900  0
1900-02-01              -1.206                          0.718  1900  1
1900-03-01              -0.705                          0.368  1900  2
1900-04-01               6.234                          0.325  1900  3
1900-05-01              11.476                          0.237  1900  4
1900-06-01              16.634                          0.306  1900  5
1900-07-01              19.277                          0.523  1900  6
1900-08-01              18.096                          0.484  1900  7
1900-09-01              13.594                          0.469  1900  8
1900-10-01               8.429                          0.414  1900  9

In [4]:
continent.view()

            AverageTemperature  AverageTemperatureUncertainty  year  x
dt
1900-01-01           -0.689578                       0.787711  1900  0
1900-02-01            0.611600                       0.798556  1900  1
1900-03-01            0.838467                       0.554089  1900  2
1900-04-01            6.067178                       0.505600  1900  3
1900-05-01           10.809933                       0.396956  1900  4
1900-06-01           15.637356                       0.506133  1900  5
1900-07-01           18.208889                       0.665644  1900  6
1900-08-01           16.920333                       0.497978  1900  7
1900-09-01           13.647933                       0.528489  1900  8
1900-10-01            9.242778                       0.603644  1900  9

# Analysis

In [5]:
country.correlation()

(0.048724672173817665, 0.07287010333346494)

In [7]:
continent.inflection_points(level=.8)

(array([598], dtype=int64),)

array([Timestamp('1949-11-01 00:00:00')], dtype=object)

In [ ]:
continent.correlation()

In [ ]:
continent.inflection_points(order=3)

In [ ]:
fig = go.Figure()

country.plot(fig, smoothed=True, order=3, inflection=True)
continent.plot(fig, smoothed=True, order=3, inflection=True)

fig