In [1]:
import pandas as pd

# Global Warming in the view of Deep Learning

By:
- [Marcin Kostrzewa](https://github.com/Manik2000)
- [Marcin Miśkiewicz](https://github.com/MarcinBear)
- [Mikołaj Langner](https://github.com/MikolajLangner)

# Problem Definition

Given data from around the world across 17th to 21th century, what insights and predictions can we get about global and local temperature?

In [3]:
pd.read_csv('final_data.csv').head()

,dt,AverageTemperature,Country,year,month,Continent,is_continent,iso_alpha
0,1838-04-01,13.008,Afghanistan,1838,4,Asia,False,AFG
1,1838-05-01,18.479,Afghanistan,1838,5,Asia,False,AFG
2,1838-06-01,23.950,Afghanistan,1838,6,Asia,False,AFG
3,1838-07-01,26.877,Afghanistan,1838,7,Asia,False,AFG
4,1838-08-01,24.938,Afghanistan,1838,8,Asia,False,AFG

- What is the trend?
- Are continents varies in the context of trends?
- When (if at all) temperature started to grow significantly?
- **How the temperature will be look like in the future?**

# Key Insights

# Model

# Possible Improvements

# Deployment